[mysqld]
bind-address=0.0.0.0
console=1
general_log=1
general_log_file=/dev/stdout
log_error=/dev/stderr
innodb_buffer_pool_size = 8M
key_buffer_size = 8M
max_heap_table_size= 8M
tmp_table_size= 8M
query_cache_limit = 1M
query_cache_size = 8M
query_cache_type = 1
table_cache = 32
thread_cache_size = 32
